language: php

php:    
  - 7.1

services:
  - mysql

before_script:
  - mysql -e 'CREATE DATABASE travis_test;'
  - cp .env.travis .env  
  - composer self-update
  - composer install --no-interaction
  - php artisan key:generate
  - php artisan migrate

script:
  - vendor/bin/phpunit

notifications:
  email:
    - felipeguimaraes540@gmail.com
    